<div class="center hero-unit">
  <h1>Welcome to Property On Guard</h1>

  <h2>
    This is the home page for Property On Guard.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("pog.gif", alt: "POG"), 'http://www.propertyonguard.com/' %>